# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
.env/
.env.* 
*.env

# Logs
*.log
*.out
*.err

# IDE/editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Deployment
*.pid
